.body {
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    margin: 16px;
    color: black;
    width: 90%;
    height: 200px;
}

.body p {
    color: black;
}

.body .comment {
    margin-top: 30px;
    margin-left: 10px;
    font-weight: 200;
}